@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-sans: "Poppins", sans-serif;
}

.section {
	@apply bg-slate-100 dark:bg-slate-900 border-slate-200 dark:border-slate-800;
}

.slider {
	@apply [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:h-4 [&::-webkit-slider-thumb]:w-4 [&::-webkit-slider-thumb]:rounded-full [&::-webkit-slider-thumb]:bg-cyan-400 hover:[&::-webkit-slider-thumb]:bg-cyan-500;
}

.custom-grid-button {
	@apply bg-slate-200 dark:bg-slate-800 rounded-xl p-2 text-slate-500 hover:text-slate-700 dark:hover:text-slate-300 hover:bg-slate-300 dark:hover:bg-slate-700 transition-colors disabled:opacity-50;
}

.custom-grid-input {
	@apply [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none outline-none mx-1 w-9 text-center font-mono text-lg border-b border-transparent focus:border-cyan-400
}
